
  body {
    font-family:sans-serif;
    font-weight:700;
    font-size:15pt;
  } 
  #container div, div.selected {
    width: 2em;
    height: 1.5em;
    float: left;
    padding: 1em;
    margin: 1vw;
    padding-top:1.5em;
    text-align: center;
    transition: background 1s;
    background: #a0aeef;
  }
 